// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button-main {
    padding: 13px 24px 12px 25px;
    background-color: #DA2128;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    outline: none;
    line-height: 24px;
}

.subscribe {
    padding: 9px 36px 8px 33px;
    text-align: center;
    width: 100%;
}

.get-free-quote {
    padding: 13px 34px 12px 30px;
}

.read-more {
    margin-top: 21px;
    margin-bottom: 80px;
}

.commercial {
    padding: 9px 35px 8px 36px;
    margin-top: 7px;
    margin-top: 24px;
    margin-bottom: 81px;
}