// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button-main {
    padding: 13px 24px 12px 25px;
    background-color: #DA2128;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.subscribe {
    padding: 8px 36px 8px 33px;
}