.commercial-banner {
    background: url("../img/commercial/commercial-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .commercial-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
        }
    }
}

.commercial-content {
    
    p {
        text-align: center;
        line-height: 28px;
        color: #2B303A;
        font-size: 20px;
        font-weight: 400;
        margin: 72px 0;
    }
}

.commercial-projects {
    position: relative;
    background: url("../img/commercial/projects-banner-image.jpg") no-repeat center 40%;
    background-size: cover;
    z-index: -2;

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        padding-top: 82px;
        margin-bottom: 0;
    }
}

.commercial-projects::after {
    content: "";
    background-color: rgba(43, 48, 58, 0.8);
    width: 54%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

@media (max-width: 1199px) {
    .commercial-banner {
        
        .commercial-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 767px) {   
    .commercial-projects-left {
        text-align: center;
    }
    
    .commercial-banner {
        
        .commercial-banner-title {
            width: 100%;
        }
    }
    
    .commercial-projects::after {
        width: 100%;
    }
}