// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    margin-top: 30px;
    margin-bottom: 17px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    .search-column {
        text-align: center;
        align-self: center;
        
        input {
            background: url("../img/header/icons/search.svg") no-repeat;
            background-position-x: 95.5%;
            background-position-y: center;
            background-size: 19.21px;
            padding-left: 12px;
            padding-right: 38px;
            color: #2B303A; 
            border: none;
            border-bottom: 1px solid #BAC1B8;
            text-transform: uppercase;
            width: 100%;
            font-size: 20px;
        }

        input:focus {
            border: none;
            border-bottom: 1px solid #BAC1B8;
        }
        
        ::placeholder {
            color: #2B303A;
            opacity: 1;
        }
    }

    .social-icons-column {
        text-align: right;
        align-self: flex-start;
        
        h4 {
            font-weight: 500;
            color: #707078;
            font-size: 14px;
            margin-bottom: 25px;
        }
    
        .social-icons a {
            display: inline-block;
            width: 20.31px;
            margin-right: 10.69px;
        }
    
        .social-icons a:last-child {
            margin-right: 0;
        }
    }
    
    .horizontal-line {
        height: 1px;
        background-color: rgba(43, 48, 58, 0.2);
        margin: 28px 0 10px 0;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li:first-child {
                margin-left: -8px;
            }
            
            li:last-child {
                margin-right: -8px;
            }

            a {
                display: block;
                text-decoration: none;
                padding: 8px;
                color: #2B303A;
                font-weight: 400;
                font-size: 18px;
            }

            .work-with-us {
                color: #DA2128;
                text-decoration: underline;
            }

            a:hover {
                font-weight: 700;
            }
        }

        .nav-mobile {
            display: none;
            outline: none;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    header {
        .top-nav {
            text-align: center;
        }

        .search-column {
            margin: 20px 0;

            input[type="text"] {
                width: 80%;
            }
        }

        .social-icons-column {
            text-align: center;
        }
    }
}

@media (max-width: 979px) {
    header {
        nav .nav-desktop {
            display: none;
        }
    
        nav .nav-mobile {
            display: block;
        }
    }
}